@use "../../styles/reusable.all.scss" as *;


.header {
  background-color: $color-secondary-light;
  height: 7rem;
  border-bottom: 1px solid $color-tertiary-light;
  .navbar {
    @include flex(false, center);
    .logo {
      background-color: $color-primary-light;
      padding: 1rem 1.5rem;
      img {
        object-fit: contain;
      }
    }

    .base {
      @include flex(false, center, space-between);
      width: 100%;
      height: 100%;
      padding: 0 2%;

     

      .menu {
        color: $font;
        font-size: 2.5rem;

        @include breakpoint(xs) {
          display: none;
        }
      }

      .navigator {
        display: none;


        @include breakpoint(xs) {
          @include flex(false, center, space-between);
          width: 50%;
          
          .left {
            @include flex(false, center);
            gap: 1rem;
            color: $font;
            a { 
              text-decoration: none;
              font-size: 1.5rem;
              color: $font;
              transition: $transition;
              border-bottom: 1px solid transparent;

              &:hover {
                // color: $color-primary-light;
                border-bottom: 1px solid $font;
              }
            }
          }
  
          .mid {
            a { 
              text-decoration: none;
              font-size: 1.5rem;
              color: $font-common;
              transition: $transition;
              color: $font;
              border-bottom: 1px solid transparent;
              &:hover {
                border-bottom: 1px solid $font;
              }
            }
          }
        }
      }

      .social {
        @include flex(false, center);
        gap: .5rem;
        .icon {
          font-size: 1.5rem;
          color: $font;
        }
      }

    }

    .navmobile {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;

      top: 7rem;
      height: 100%;
      background-color: $color-secondary-light;
      z-index: 99;

      @include breakpoint(xs) {
        display: none;
      }

      .mobilelink {
        @include flex(false, center, space-between);
        padding: 1rem;
        border-bottom: 1px solid $color-tertiary-light;
        a {
          color: $font;
          text-decoration: none;
          font-size: 1.5rem;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-weight: 200;
        }
        svg {
          color: $color-primary-light;
          font-size: 2.5rem;
        }
      }

    }

  }

}