@use "../../styles/reusable.all.scss" as *;


.header {
  background-color: $color-secondary-light;
  height: 7rem;
  border-bottom: 1px solid $color-tertiary-light;
  .navbar {
    @include flex(false, center);
    .logo {
      background-color: $color-primary-light;
      padding: 1rem 1.5rem;
    }

    .base {
      @include flex(false, center, space-between);
      width: 100%;
      height: 100%;
      padding: 0 2%;

      .menu {
        color: $color-primary-light;
        font-size: 2.5rem;
      }

      .social {
        @include flex(false, center);
        gap: .5rem;
        .icon {
          font-size: 1.5rem;
          color: $color-primary-light;
        }
      }

    }

    .navmobile {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;

      top: 7rem;
      height: 100%;
      background-color: $color-secondary-light;
      z-index: 99;

      .mobilelink {
        @include flex(false, center, space-between);
        padding: 1rem;
        border-bottom: 1px solid $color-tertiary-light;
        a {
          color: $color-primary-light;
          text-decoration: none;
          font-size: 1.5rem;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-weight: 200;
        }
        svg {
          color: $color-primary-light;
          font-size: 2.5rem;
        }
      }

    }

  }

}