$color-primary-light: var(--primary);
$color-secondary-light: var(--secondary);
$color-tertiary-light: var(--tertiary);
$color-quaternary-light: var(--quaternary);
$font: var(--font);
$font-common: var(--font-common);



$transition: .5s;