@use "../../styles/reusable.all.scss" as *;



.section {
    margin: 0 auto;
    max-width: 150rem;
    min-height: 100vh;
    padding: 1rem;

    @include breakpoint(xs) {
        padding: 0;
    }

    .cover {
        width: 100%;
        img {
            object-fit: cover;
            width: 100%;
        }
    }

    .blog {
        .title {
            font-size: 5rem;
            font-weight: 600;
        }
        .description {
            border-top: 1px solid $color-tertiary-light;
            margin-top: 2rem;
            padding: 1rem;
            font-size: 2rem;
            line-height: 4rem;
        }
    }
}