@font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Bold Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Black.otf') format('opentype');
    font-weight: 900; /* Typically for Black */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Black Italic.otf') format('opentype');
    font-weight: 900; /* Typically for Black */
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Light.otf') format('opentype');
    font-weight: 300; /* Typically for Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Light Italic.otf') format('opentype');
    font-weight: 300; /* Typically for Light */
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Medium.otf') format('opentype');
    font-weight: 500; /* Typically for Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Medium Italic.otf') format('opentype');
    font-weight: 500; /* Typically for Medium */
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Ultra.otf') format('opentype');
    font-weight: 800; /* Typically for Ultra */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Neo Sans';
    src: url('../../fonts/Neo Sans Std Ultra Italic.otf') format('opentype');
    font-weight: 800; /* Typically for Ultra */
    font-style: italic;
  }
  
  /* Example usage */
  html {
    font-size: 62.5%; /* This helps with rem calculations */
  }
  
  body {
    font-family: 'Neo Sans', sans-serif;
  }
  