@use "../../styles/reusable.all.scss" as *;

.swiperparent {
  height: 50rem;
  @include flex(false,center);
}
.swiperbody {
  background-image: url("/images/earth.jpg");
  background-size: cover;
  padding: 2rem 2rem;
  width: 80% !important;
  display: flex !important;
  flex-direction: column;
  gap: 2rem;
  
  
  .head {
    @include flex(column);
    gap: 1rem;
    .title {
      color: $color-secondary-light;
      font-size: 3.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    .info {
      color: $color-secondary-light;
    }
    

    .path {
      @include flex(false, center);
      gap: 1rem;
      font-size: 1.5rem;
      
      .link {
        a {
          color: $color-secondary-light;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
  
      .icon {
        color: $color-secondary-light;
      }
    }
  }

  .bot {
    margin-top: auto;
    color: $color-secondary-light;
    font-size: 2rem;
  }

}