@use "../../styles/reusable.all.scss" as *;



.button {
    @include flex(false, center);
    gap: 1rem;
    font-size: 1.5rem;
    width: fit-content;
    padding: .5rem 1.5rem;
}


.light {
    background-color: $color-primary-light;
    color: $font;
}

.dark {
    background-color: $color-primary-light;
    color: $color-secondary-light;
}